.matches-detail .team-cell:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.matches-detail .team-cell .team-detail {
  justify-content: center;
}

.matches-detail td.winner {
  background-color: rgb(233, 252, 233);
}
