.team-standing-detail .team-cell:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.team-standing-detail .header tr th {
  position: sticky;
  top: 0;
}

.team-standing-detail tr.current {
  background-color: lightcyan;
}
